# Environnement virtuel Python
lib/
bin/
include/
pyvenv.cfg
__pycache__/
*.pyc
*.pyo

# Base de données SQLite
*.db
*.sqlite3

# Fichiers temporaires
.DS_Store
*.egg-info/
dist/
build/
.pytest_cache/

# Fichier de test temporaire
test_setup.py
venv
venv_linux/
# Fichiers de test
test_api.py
test_csv.py
test_post.py
verify_services.py
